<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanjiu.im.grpc.dao.mapper.impl.GroupMemberNicknameMapper">

    <resultMap id="groupMemberNickNameMap" type="com.lanjiu.im.grpc.pojo.GroupMemberNickname">
        <result property="id" column="id" javaType="java.lang.Integer"></result>
        <result property="groupId" column="group_id" javaType="java.lang.Integer"></result>
        <result property="userId" column="user_id" javaType="java.lang.Integer"></result>
        <result property="groupMemberId" column="group_member_id" javaType="java.lang.Integer"></result>
        <result property="nickRemark" column="nick_remark" javaType="java.lang.String"></result>
        <result property="createTime" column="create_time" javaType="java.sql.Timestamp"></result>
    </resultMap>

    <insert id="insert" parameterType="GroupMemberNickname" useGeneratedKeys="true" keyProperty="id">
        insert into group_member_nickname(
            group_id,
            user_id,
            group_member_id,
            nick_remark,
            create_time)
        values (
            #{groupId,jdbcType=INTEGER},
            #{userId,jdbcType=INTEGER},
            #{groupMemberId,jdbcType=INTEGER},
            #{nickRemark,jdbcType=VARCHAR},
            #{createTime,jdbcType=TIMESTAMP})
    </insert>

    <update id="updateByPrimaryKey" parameterType="GroupMemberNickname">
        update group_member_nickname
        set group_id = #{groupId},
            user_id = #{userId},
            group_member_id = #{groupMemberId},
            nick_remark = #{nickRemark},
            create_time = #{createTime}
        where id = #{id}
    </update>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="groupMemberNickNameMap">
		select * from group_member_nickname where id = #{id}
	</select>

    <select id="selectByUserId" parameterType="java.lang.Integer" resultMap="groupMemberNickNameMap">
		select * from group_member_nickname where user_id = #{userId}
	</select>

    <select id="selectByGroupId" parameterType="java.lang.Integer" resultMap="groupMemberNickNameMap">
		select * from group_member_nickname where group_id = #{groupId}
	</select>

    <select id="selectMemberNickname" parameterType="java.lang.Integer" resultMap="groupMemberNickNameMap">
		select * from group_member_nickname where group_id = #{groupId} and user_id = #{userId}
	</select>

    <select id="selectGroupMemberNickname" resultMap="groupMemberNickNameMap">
		select * from group_member_nickname where group_id = #{groupId} and user_id = #{userId} and group_member_id = #{muserId}
	</select>

    <delete id="deleteByGroupId" parameterType="java.lang.Integer">
		delete from group_member_nickname where group_id = #{groupId}
	</delete>

    <delete id="deleteMemberNickname" parameterType="java.lang.Integer">
		delete from group_member_nickname where group_id = #{groupId} and user_id = #{userId}
	</delete>
</mapper>