<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanjiu.im.grpc.dao.mapper.impl.GuestGroupRegisteredUserMemberRelationMapper">
    <resultMap id="guestGroupRegisteredUserMemberRelationMap" type="com.lanjiu.im.grpc.pojo.GuestGroupRegisteredUserMemberRelation">
        <result property="guestGroupId" column="guest_group_id" javaType="java.lang.Integer"></result>
        <result property="registeredUserMemberId" column="registered_user_member_id" javaType="java.lang.Integer"></result>
    </resultMap>

    <select id="selectAllGuestGroupRegisteredUserMemberRelation" resultMap="guestGroupRegisteredUserMemberRelationMap">
		select * from guest_group_registered_user_member_relation
	</select>

    <select id="selectAllGuestGroupRegisteredUserMemberRelationByGroupIdAndMemberId" resultMap="guestGroupRegisteredUserMemberRelationMap">
		select * from guest_group_registered_user_member_relation where guest_group_id = #{guestGroupId} and registered_user_member_id = #{registeredUserMemberId}
	</select>

    <select id="selectGuestGroupRegisteredUserMemberRelationByGuestGroupId" resultMap="guestGroupRegisteredUserMemberRelationMap">
		select * from guest_group_registered_user_member_relation where guest_group_id = #{guestGroupId}
	</select>

    <select id="selectGuestGroupRegisteredUserMemberRelationByRegisteredUserMemberId" resultMap="guestGroupRegisteredUserMemberRelationMap">
		select * from guest_group_registered_user_member_relation where registered_user_member_id = #{registeredUserMemberId}
	</select>

    <insert id="insertGuestGroupRegisteredUserMemberRelation" parameterType="com.lanjiu.im.grpc.pojo.GuestGroupRegisteredUserMemberRelation">
        insert into guest_group_registered_user_member_relation (guest_group_id, registered_user_member_id)
        values (#{guestGroupId,jdbcType=INTEGER}, #{registeredUserMemberId,jdbcType=INTEGER})
    </insert>

    <delete id="deleteGuestGroupRegisteredUserMemberRelation" >
		delete from guest_group_registered_user_member_relation where guest_group_id = #{guestGroupId} and registered_user_member_id = #{registeredUserMemberId}
	</delete>

</mapper>