<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanjiu.im.grpc.dao.mapper.impl.RegisteredGroupMapper">
    <resultMap id="registeredGroupMap" type="com.lanjiu.im.grpc.pojo.RegisteredGroup">
        <result property="registeredUserId" column="registered_user_id" javaType="java.lang.Integer"></result>
        <result property="groupId" column="group_id" javaType="java.lang.Integer"></result>
        <result property="groupName" column="group_name" javaType="java.lang.String"></result>
        <result property="groupAnnouncementId" column="group_announcement_id" javaType="java.lang.Integer"></result>
        <result property="creationTime" column="creation_time" javaType="java.sql.Timestamp"></result>
        <result property="modificationTime" column="modification_time" javaType="java.sql.Timestamp"></result>
        <result property="amount" column="amount" javaType="java.lang.Integer"></result>
        <result property="groupPhotoUrl" column="group_photo_url" javaType="java.lang.String"></result>
        <result property="groupPhotoUserIdList" column="group_photo_userId_list" javaType="java.lang.String"></result>
    </resultMap>

    <select id="selectAllRegisteredGroup" resultMap="registeredGroupMap">
		select * from registered_group
	</select>

    <select id="selectRegisteredGroup" resultMap="registeredGroupMap">
		select * from registered_group where registered_user_id = #{registeredUserId} and group_id = #{groupId} and group_name = #{groupName} and group_announcement_id = #{groupAnnouncementId}
		and creation_time = #{creationTime} and modification_time = #{modificationTime} and amount = #{amount}
	</select>

    <select id="selectRegisteredGroupByRegisteredUserId" resultMap="registeredGroupMap">
		select * from registered_group where registered_user_id = #{registeredUserId}
	</select>

    <select id="selectRegisteredGroupByGroupId" resultMap="registeredGroupMap">
		select * from registered_group where group_id = #{groupId}
	</select>

    <select id="selectRegisteredGroupByGroupIdLike" resultMap="registeredGroupMap">
        <bind name="groupRegisteredParameter" value="'%' + groupId + '%'" />
		select * from registered_group where group_id LIKE #{groupRegisteredParameter}
	</select>

    <select id="selectRegisteredGroupByRegisteredUserIdAndGroupId" resultMap="registeredGroupMap">
		select * from registered_group where registered_user_id = #{registeredUserId} and group_id = #{groupId}
	</select>

    <insert id="insertRegisteredGroup" parameterType="com.lanjiu.im.grpc.pojo.RegisteredGroup">
        insert into registered_group (registered_user_id, group_id, group_name, group_announcement_id, creation_time, modification_time,
                      amount,group_photo_url,group_photo_userId_list)
        values (#{registeredUserId,jdbcType=INTEGER}, #{groupId,jdbcType=INTEGER}, #{groupName,jdbcType=VARCHAR},
                #{groupAnnouncementId,jdbcType=INTEGER}, #{creationTime,jdbcType=TIMESTAMP},#{modificationTime,jdbcType=TIMESTAMP},
                #{amount,jdbcType=INTEGER},#{groupPhotoUrl,jdbcType=VARCHAR},#{groupPhotoUserIdList,jdbcType=VARCHAR})
    </insert>

    <delete id="deleteRegisteredGroupByGroupId" >
		delete from registered_group where group_id = #{groupId}
	</delete>

    <delete id="deleteRegisteredGroupByRegisteredUserId" >
		delete from registered_group where registered_user_id = #{registeredUserId}
	</delete>

    <!-- 修改群信息 -->
    <update id="updateRegisteredGroup" parameterType="com.lanjiu.im.grpc.pojo.RegisteredGroup">
    update registered_group set registered_user_id = #{registeredUserId}, group_name = #{groupName}
             , group_announcement_id = #{groupAnnouncementId}
             , creation_time = #{creationTime}
             , modification_time = #{modificationTime}
             , amount = #{amount},group_photo_url=#{groupPhotoUrl},group_photo_userId_list=#{groupPhotoUserIdList}
             where group_id = #{groupId}
    </update>

    <select id="getRegisteredGroupByGroupId" resultMap="registeredGroupMap">
		select * from registered_group where group_id = #{groupId}
	</select>

    <select id="queryRegGroupByGroupIds" parameterType="list" resultMap="registeredGroupMap">
        select * from registered_group where group_id in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            　#{item}
        </foreach>
    </select>
</mapper>