<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanjiu.im.storage.dao.mapper.impl.GuestGroupRegisteredMemberGuestUserVideoMapper">
    <resultMap id="guestGroupRegisteredMemberGuestUserVideoMap" type="com.lanjiu.im.storage.pojo.GuestGroupRegisteredMemberGuestUserVideo">
        <result property="downloadUrl" column="download_url" javaType="java.lang.String"></result>
        <result property="guestGroupId" column="guest_group_id" javaType="java.lang.Integer"></result>
        <result property="registeredMemberId" column="registered_member_id" javaType="java.lang.Integer"></result>
        <result property="guestUserId" column="guest_user_id" javaType="java.lang.Integer"></result>
        <result property="creationTime" column="creation_time" javaType="java.sql.Date"></result>
    </resultMap>
    <select id="selectAllGuestGroupRegisteredMemberGuestUserVideo" resultMap="guestGroupRegisteredMemberGuestUserVideoMap">
		select * from guest_group_registered_member_guest_user_video
	</select>

    <select id="selectGuestGroupRegisteredMemberGuestUserVideo" resultMap="guestGroupRegisteredMemberGuestUserVideoMap">
		select * from guest_group_registered_member_guest_user_video where download_url = #{downloadUrl}
	</select>

    <insert id="insertGuestGroupRegisteredMemberGuestUserVideo" parameterType="com.lanjiu.im.storage.pojo.GuestGroupRegisteredMemberGuestUserVideo">
        insert into guest_group_registered_member_guest_user_video (download_url, guest_group_id, registered_member_id, guest_user_id, creation_time)
        values (#{downloadUrl,jdbcType=VARCHAR}, #{guestGroupId,jdbcType=INTEGER}, #{registeredMemberId,jdbcType=INTEGER}, #{guestUserId,jdbcType=INTEGER}, #{creationTime,jdbcType=DATE})
    </insert>

    <delete id="deleteGuestGroupRegisteredMemberGuestUserVideo" >
		delete from guest_group_registered_member_guest_user_video where download_url = #{downloadUrl}
	</delete>
</mapper>