<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanjiu.im.storage.dao.mapper.impl.GuestUserFriendPictureMapper">
    <resultMap id="guestUserFriendPictureMap" type="com.lanjiu.im.storage.pojo.GuestUserFriendPicture">
        <result property="downloadUrl" column="download_url" javaType="java.lang.String"></result>
        <result property="guestUserId" column="guest_user_id" javaType="java.lang.Integer"></result>
        <result property="creationTime" column="creation_time" javaType="java.sql.Date"></result>
        <result property="friendId" column="friend_id" javaType="java.lang.Integer"></result>
    </resultMap>
    <select id="selectAllGuestUserFriendPicture" resultMap="guestUserFriendPictureMap">
		select * from guest_user_friend_picture
	</select>

    <select id="selectGuestUserFriendPictureByFriendId" resultMap="guestUserFriendPictureMap">
		select * from guest_user_friend_picture where guest_user_id = #{guestUserId} and friend_id = #{friendId}
	</select>

    <select id="selectGuestUserFriendPicture" resultMap="guestUserFriendPictureMap">
		select * from guest_user_friend_picture where download_url = #{downloadUrl}
	</select>

    <insert id="insertGuestUserFriendPicture" parameterType="com.lanjiu.im.storage.pojo.GuestUserFriendPicture">
        insert into guest_user_friend_picture (download_url, guest_user_id, creation_time, friend_id)
        values (#{downloadUrl,jdbcType=VARCHAR}, #{guestUserId,jdbcType=INTEGER}, #{creationTime,jdbcType=DATE}, #{friendId,jdbcType=INTEGER})
    </insert>

    <delete id="deleteGuestUserFriendPicture" >
		delete from guest_user_friend_picture where download_url = #{downloadUrl}
	</delete>

    <delete id="cleanFriendPictureVideo">
          delete from guest_user_friend_file where guest_user_id =#{userId};
          delete from guest_user_friend_picture where guest_user_id =#{userId};
          delete from guest_user_friend_video where guest_user_id =#{userId};
          delete from registered_user_friend_file where friend_id =#{userId};
          delete from registered_user_friend_picture where friend_id =#{userId};
          delete from registered_user_friend_video where friend_id =#{userId}

    </delete>

    <select id="selectGuestUserFriendPictureByUserId" resultMap="guestUserFriendPictureMap">
        select * from guest_user_friend_picture where guest_user_id = #{guestUserId}
    </select>

    <select id="selectGuestUserFriendPictureOnlyByFriendId" resultMap="guestUserFriendPictureMap">
        select * from guest_user_friend_picture where friend_id = #{friendId}
    </select>
</mapper>