<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanjiu.im.storage.dao.mapper.impl.RegisteredGroupGuestMemberGuestUserFileMapper">
    <resultMap id="registeredGroupGuestMemberGuestUserFileMap" type="com.lanjiu.im.storage.pojo.RegisteredGroupGuestMemberGuestUserFile">
        <result property="downloadUrl" column="download_url" javaType="java.lang.String"></result>
        <result property="registeredGroupId" column="registered_group_id" javaType="java.lang.Integer"></result>
        <result property="guestMemberId" column="guest_member_id" javaType="java.lang.Integer"></result>
        <result property="guestUserId" column="guest_user_id" javaType="java.lang.Integer"></result>
        <result property="creationTime" column="creation_time" javaType="java.sql.Date"></result>
    </resultMap>
    <select id="selectAllRegisteredGroupGuestMemberGuestUserFile" resultMap="registeredGroupGuestMemberGuestUserFileMap">
		select * from registered_group_guest_member_guest_user_file
	</select>

    <select id="selectRegisteredGroupGuestMemberGuestUserFile" resultMap="registeredGroupGuestMemberGuestUserFileMap">
		select * from registered_group_guest_member_guest_user_file where download_url = #{downloadUrl}
	</select>

    <insert id="insertRegisteredGroupGuestMemberGuestUserFile" parameterType="com.lanjiu.im.storage.pojo.RegisteredGroupGuestMemberGuestUserFile">
        insert into registered_group_guest_member_guest_user_file (download_url, registered_group_id, guest_member_id, guest_user_id, creation_time)
        values (#{downloadUrl,jdbcType=VARCHAR}, #{registeredGroupId,jdbcType=INTEGER}, #{guestMemberId,jdbcType=INTEGER}, #{guestUserId,jdbcType=INTEGER}, #{creationTime,jdbcType=DATE})
    </insert>

    <delete id="deleteRegisteredGroupGuestMemberGuestUserFile" >
		delete from registered_group_guest_member_guest_user_file where download_url = #{downloadUrl}
	</delete>
</mapper>